<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenScape"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".AddActivity"
            android:exported="false" />
        <activity
            android:name=".DbFirebaseMain"
            android:exported="false" />
        <activity
            android:name=".MenuSecondRows"
            android:exported="false" />
        <activity
            android:name=".TestPlants"
            android:exported="false" />
        <activity
            android:name=".infoMenu"
            android:exported="false" />
        <activity
            android:name=".RecycleSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ImageAnswear"
            android:exported="false" />
        <activity
            android:name=".ResultActivityOrder"
            android:exported="false" />
        <activity
            android:name=".MenuOrderActivity"
            android:exported="false" />
        <activity
            android:name=".OrderInfoUser"
            android:exported="false" />
        <activity
            android:name=".ImageActivity"
            android:exported="false" />
        <activity
            android:name=".UploadImage"
            android:exported="false" />
        <activity
            android:name=".RoomUsersActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>